@font-face {
    font-family: minecraft;
    font-weight: normal;
    font-style: normal;
    src: url(Assets/Fonts/MinecraftRegular-Bmg3.otf) format('opentype'),
    url(Assets/Fonts/MinecraftRegular-Bmg3.ttf) format('truetype');
}

body{
  background-color: black;
}

h1{
  color: white;
  font-family: minecraft;
}

.amountLabel{
  position: relative;
  right: 0px;
  bottom: 23px;
  width: auto;
  height: 8px;
  padding: 0px;
  margin: 0px;
  border: 0px;

  color: white;
  font-family: minecraft;
  font-size: 22px;
  text-align: right;

  z-index: 10;
}

.slotImage{
  position: relative;
  left: 0px;
  bottom: 0px;

  padding: 0px;
  margin: 0px;
  border: 0px;

  background-color: dimgray;
}

.slot{ 
  padding: 10px;
  margin: 0px;
  border: 0px;

  position:relative;
  width: 100px;
  height: 100px;

  display: inline-block;
  text-align: right;
}

.generator{
  position: relative;
  width: 150px;
  height: 120px;

  font-family: minecraft;
  background-color: lightslategray;
}

.generatorText{
  position: relative;
  margin-left: 15px;
  margin-bottom: 10px;
}

.generatorImage{
  position: relative;
  margin-left: 20px;
  margin-top: 0px;

  top: 0px;
  width: 80px;
  height: 80px;
}

#resources{
  position: relative;
  left: 180px;
  top: -140px;

  margin-top: 10px;
  display: inline-block;
}

#generators{
  display: table-row;
}