@font-face {
    font-family: minecraft;
    font-weight: normal;
    font-style: normal;
    src: url(Assets/Fonts/MinecraftRegular-Bmg3.otf) format('opentype'),
    url(Assets/Fonts/MinecraftRegular-Bmg3.ttf) format('truetype');
}

body{
  background-color: black;
}

h1{
  color: white;
  font-family: minecraft;
}

.amountLabel{
  position: absolute;
  left: 0px;
  bottom: 1px;
  width: 46px;
  height: 8px;

  color: white;
  font-family: minecraft;
  font-size: 22px;
  text-align: right;

  z-index: 10;
}

.slotImage{
  position: relative;
  left: 0px;
  bottom: 0px;

  padding: 0px;
  margin: 0px;
  border: 0px;

  background-color: dimgray;
}

.slot{
  background-color: lightgray;

  padding: 0px;
  margin: 0px;
  border: 0px;

  position:absolute;
  width: 100px;
  height: 100px;
}

.repice{
  background-color: darkgray;

  width: 250px;
  height: auto;
}
